<%= form_for(@company, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @company.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h4>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :views_count, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :views_count, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enquires_count, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :enquires_count, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :connects_count, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :connects_count, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_approved, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :is_approved, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, class: "col-sm-2 control-label" %>
    <%= f.hidden_field :image, value: f.object.cached_image_data %>
    <div class="col-sm-10">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
