<div class="page-header">
  <%= link_to new_company_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Company
  <% end %>
  <h1>Listing companies</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Views count</th>
            <th>Enquires count</th>
            <th>Connects count</th>
            <th>Is approved</th>
            <th>Company type</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @companies) do |company| %>
            <td><%= company.name %></td>
            <td><%= company.description %></td>
            <td><%= company.views_count %></td>
            <td><%= company.enquires_count %></td>
            <td><%= company.connects_count %></td>
            <td><%= company.is_approved %></td>
            <td><%= company.company_type %></td>
            <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
