<div class="page-header">
  <%= link_to companies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_company_path(@company), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show company</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @company.name %></dd>

  <dt>Description:</dt>
  <dd><%= @company.description %></dd>

  <dt>Views count:</dt>
  <dd><%= @company.views_count %></dd>

  <dt>Enquires count:</dt>
  <dd><%= @company.enquires_count %></dd>

  <dt>Connects count:</dt>
  <dd><%= @company.connects_count %></dd>

  <dt>Is approved:</dt>
  <dd><%= @company.is_approved %></dd>

  <dt>Company type:</dt>
  <dd><%= @company.company_type %></dd>

  <dt>Company Logo:</dt>
  <dd><img src="<%= @company.image_url %>"></dd>

</dl>
