<div class="page-header">
  <%= link_to new_company_type_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Company type
  <% end %>
  <h1>Listing company_types</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @company_types) do |company_type| %>
            <td><%= company_type.name %></td>
            <td><%= link_to 'Show', company_type %></td>
        <td><%= link_to 'Edit', edit_company_type_path(company_type) %></td>
        <td><%= link_to 'Destroy', company_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
